<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stockme">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".StockMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockMe">
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StockMe.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity_"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StockMe.NoActionBar" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/activity_register_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/activity_login_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".productdetail.ProductDetailActivity"
            android:exported="true"
            android:label="@string/product_detail_title"
            android:launchMode="singleTop"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".home.ui.CartActivity"
            android:label="@string/activity_cart"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".home.HomeActivity"
            android:exported="false" />
    </application>

</manifest>